.App {
  text-align: center;
}

.Title {
  color: green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.finalList {
  width: 500px;
  height: 500px;
  background-color: chartreuse;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid black;
}
